<html>
  <head>
    <!--# include file="head.html" -->
    <title>App 2</title>
  </head>
  <body>
    <!--# include file="header.html" -->
    {{{body}}}
    <!--# include file="footer.html" -->
  </body>
</html>
